.hypothesis/
__pycache__
output.png
fewshot-data/
checkpoints/
records.db
server.py
examples/*grounding.png
archive*
hostfile
runs/
*.idea/
*.pt
*.pkl
*.log
*.h5

pkl_outputs/

temp/
h5_stuff/

test_sets
logs/

*.code-workspace

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.svg