.hypothesis/
__pycache__
output.png
fewshot-data/
checkpoints/
records.db
server.py
examples/*grounding.png
archive*
hostfile
runs/
*.idea/
*.pt
*.pkl
*.log
*.h5

pkl_outputs/
test_set/
temp/
h5_stuff/
